<div class="center jumbotron">
  <div class="text-center">
    <% if logged_in? %>
      <p>ログイン完了ユーザ: <%= current_user.name %></p>
      <% if @tasks.any? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>件名</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @tasks.each do |task| %>
              <tr>
                <td><%= link_to task.id, task %></td>
                <td><%= task.content %></td>
                <td><%= task.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div>
          <%= paginate @tasks %>
        </div>
      <% end %>
    <% else %>
      <h1>Welcome to the Tasklist</h1>
      <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
    <% end %>
  </div>
</div>